<!-- Leaflet JS -->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdlxU8WyMy9Hh9gXPTA7FQQ0N9GpV0h0h+gGjn5eKk5G+UQ+Cr4/Wz2qf+H0YVz37t2xu6Wc6ZQ=="
  crossorigin=""
></script>

<script src="{{'/assets/js/script.js | prepend: site.baseurl}}"></script>
<script src="{{'/assets/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script>
  $(".carousel").carousel({
    interval: false,
  });
</script>
<script>
  $(document).on("click", "[data-toggle='modal']", function () {
    $(".modal-backdrop").eq(0).css({
      display: "none",
    });

    // if more than 1 modal openned.
    if ($(".modal-backdrop").length > 1) {
      // move backdrop up (in z)
      var ZindexBackdrop =
        parseInt($(".modal-backdrop").eq(0).css("z-index")) + 20;
      console.log("Backdrop z-index: " + ZindexBackdrop);
      $(".modal-backdrop").eq(1).css({
        "z-index": ZindexBackdrop,
      });

      // move modal up (in z)
      var ZindexModal = parseInt($(".modal").eq(0).css("z-index")) + 20;
      console.log("Modal z-index: " + ZindexModal);
      $(".modal").eq(1).css({
        "z-index": ZindexModal,
      });
    }
  });
</script>
