{% capture step_1_4_text %}
<h5 class="pregunta">¿Quiénes eran los dueños de este terreno?</h5>
<p>
  La hacienda representada en la pintura perteneció a Francisco de Maldonado y
  Mendoza. Sus descendientes obtuvieron títulos nobiliarios y la hacienda se
  convirtió en el centro del Marqués de San Jorge.
</p>
<button
  type="button"
  class="btn btn-info mas"
  data-bs-toggle="offcanvas"
  data-bs-target="#panel-1-4"
  aria-controls="panel-1-4"
  data-bs-backdrop="false"
>
  <img class="s" src="/assets/img/sabermas.png" />Saber más
</button>
{% endcapture %} {% include story/step.html id="1-4" data_step="4" x="850"
y="650" zoom="1.4" title="" text=step_1_4_text offcanvas_id="panel-1-4" %} {%
capture panel_1_4_content %}
<h4 class="mas-title">El mayorazgo y el linaje de los Maldonado</h4>
<p>
  El juicio ratificó el derecho de Maldonado y Mendoza sobre su hacienda. En su
  testamento, Maldonado transformó su hacienda en un mayorazgo. Esto significaba
  que tras su muerte no se dividiría entre sus herederos sino que lo conservaría
  su primogénito, Antonio Maldonado de Mendoza.
</p>
<img src="/assets/img/def-mayorazgo.png" />
<p class="piedefoto">
  Tesoro de la lengua castellana, o española. Sebastián de Covarrubias Orozco,
  1611. Cortesía de: John P. Robarts Research Library, Toronto.
</p>
<img class="img-50" src="/assets/img/1.5.jpg" />
<p class="piedefoto">
  Retrato de Antonio Maldonado de Mendoza. Anónimo, siglo XVIII. Cortesía del
  Museo Colonial, Bogotá.
</p>
<p>
  Este es el comienzo de un poderoso linaje que se fortaleció alrededor de la
  hacienda. Esta propiedad se ha conocido como la “Dehesa de Bogotá”, el
  mayorazgo de Bogotá, o el Novillero y se caracterizaba por alojar
  temporalmente el ganado que venía de tierras bajas para su consumo en la
  ciudad de Santafé de Bogotá.
</p>
<p>
  Los herederos de Maldonado y Mendoza continuaron uniéndose con algunas de las
  familias más prestantes del Nuevo Reino de Granada, eventualmente recibiendo
  títulos nobiliarios y erigiéndose en el Marquesado de San Jorge.
</p>
<p>
  Este linaje mantuvo su poder durante dos siglos, incluyendo virreyes y
  obispos. De hecho,
  <button
    type="button"
    class="btn btn-clave"
    onclick="openLayeredPanel('panel-1-4-key')"
  >
    Jorge Tadeo Lozano</button
  >, el primer presidente de la república en 1811 fue uno de sus descendientes.
</p>
<div class="row">
  <div class="col-md-6">
    <img class="img-50" src="/assets/img/1.5.1.jpg" />
  </div>
  <div class="col-md-6">
    <img src="/assets/img/1.5.2.jpg" />
  </div>
  <p class="piedefoto">
    Libro Segundo de las Genealogías del Nuevo Reyno de Granada. Juan Flórez de
    Ocáriz, 1674. Cortesía de: John Carter Brown Library, Providence.
  </p>
</div>
{% endcapture %} {% include story/panel-primary.html id="panel-1-4" title="El
mayorazgo y el linaje de los Maldonado" content=panel_1_4_content
nested_button_id="panel-1-4-key" %} {% capture panel_1_4_key_content %}
<h4 class="clave-title">Jorge Tadeo Lozano</h4>
<p>
  Jorge Tadeo Lozano nació en Bogotá en 1771, estudió en Europa y se interesó
  por la historia natural. Esto le permitió unirse a la Real Expedición Botánica
  en la Nueva Granada en 1803 como encargado del proyecto zoológico.
</p>
<p>
  Como parte de su trabajo administrativo en el imperio español, Lozano fue
  nombrado teniente protector de indios en 1807. Con la consolidación del primer
  gobierno republicano, Lozano sirvió como primer presidente de las Provincias
  Unidas de la Nueva Granada, solo para ser depuesto en 1811 por un golpe de
  estado encabezado por Antonio Nariño.
</p>
<p>
  Tras la reconquista, las fuerzas de Pablo Morillo fusilaron a Lozano el 6 de
  julio de 1816 en la actual Plaza de los Mártires por su participación en la
  política republicana.
</p>
{% endcapture %} {% include story/panel-tertiary.html id="panel-1-4-key"
title="Jorge Tadeo Lozano" content=panel_1_4_key_content %}
