{% capture step_1_2_text %}
<h5 class="pregunta">¿De dónde es el mapa?</h5>
<p>
  El mapa representa la Sabana de Bogotá, una altiplanicie en la cordillera
  oriental de los Andes donde hoy es Colombia. A comienzos del siglo XVI, la
  Sabana estaba ocupada por indígenas Muiscas, de la familia lingüística
  Chibcha. Una expedición española liderada por Gonzalo Jiménez de Quesada llegó
  a este lugar en 1536. Desde esos años la ciudad de Bogotá se convirtió en la
  base de operaciones del imperio español en la zona y en 1549 la nombrarían
  como sede de la Audiencia de Santafé..
</p>
{% endcapture %} {% include story/step.html id="1-2" data_step="2" x="400"
y="750" zoom="1.3" title="" text=step_1_2_text %}
