<section class="panel bg-azul">
  <a id="capitulo1"></a>
  <div class="chapter-title">
    <h6 class="chapter">Capítulo 1:</h6>
    <h2 class="subtitle-chapter">Una pintura de la Sabana</h2>
  </div>
  <div class="chapter-intro">
    <div class="chapter-image">
      <img class="img-75" src="/assets/img/entrada-cap1.png" />
    </div>
    <h5 class="chapter-subtitle">
      Este documento, que oscila entre mapa y pintura, formó parte de un proceso
      legal en el que se consolidaron una de las haciendas y uno de los linajes
      más importantes del Nuevo Reino de Granada.
    </h5>
  </div>
</section>
