   <!-- Left column (text) -->

<div class="container-fluid px-0">
   <div class="col-lg-4 overflow-auto">
{% include story/step.html
  id="1-1"
  data_step="1"
  x="200"
  y="800"
  zoom="1.2"
  title="¿Para qué se dibujó este mapa?"
  text='<i>La Pintura de las tierras pantanos y anegadizos del pueblo de Bogotá</i> se usó en 1614 como evidencia en un juicio legal contra Francisco Maldonado y Mendoza por la propiedad de unas tierras en la Sabana de Bogotá.'
  offcanvas_id="panel-1-1"
%}

{% capture panel_1_1_content %}
<p>Maldonado y Mendoza había nacido en España en 1551 y llegó a Santafé de Bogotá en 1583. En 1586 se casó con Jerónima de Orrego, la hija y única heredera del conquistador Alonso de Olalla.</p>
<img class="img-50" src="/assets/img/1.1.jpg" />
<p class="piedefoto">Francisco Maldonado de Mendoza. Anónimo, siglo XVIII. Cortesía del Museo Colonial, Bogotá</p>
<p>Desde ese año, Maldonado y Mendoza comenzó a comprar estancias en la Sabana de Bogotá y a recibir tierras que le otorgó la Corona española. A mediados de la década de 1590, Maldonado y Mendoza no sólo era encomendero de la comunidad indígena de Bogotá sino que contaba con una de las haciendas ganaderas más ricas del Nuevo Reino de Granada.</p>
<p>El fiscal del Nuevo Reino de Granada demandó en 1603 a Maldonado y Mendoza acusándolo de haber estafado a la monarquía por comprar unos terrenos muy extensos y fértiles a un precio muy bajo. En el litigio, ambas partes presentaron visiones encontradas del territorio. Mientras que Maldonado describía el territorio como un pantano improductivo, el fiscal consideraba que era una fértil sabana. En el litigio, el mapa debía operar como una prueba que permitiera establecer cuál de las dos partes tenía razón. Para ello, se solicitó que unos funcionarios imperiales recorrieran el territorio, lo vieran por sí mismos y lo dibujaran en un papel que se pudiera llevar a la corte para tomar una decisión. Esbozar sus observaciones en un papel volvía la sabana un objeto de estudio en la corte de acuerdo con los lineamientos de la monarquía.</p>
<button class="btn btn-secondary btn-lg btn-fuente" onclick="openLayeredPanel('panel-1-1-source')"><img class="s" src="/assets/img/fuenteprimaria.png" />Fuente primaria</h6><h4>Sobre el repartimiento de encomiendas</h4></button>
{% endcapture %}

</div>
    <!-- Right column (media) -->
    <div class="col-lg-8 position-relative">
      {% include story/slide-map.html %}
    </div>

  </div>
</div>

{% include story/panel-primary.html
  id="panel-1-1"
  title="El encomendero de Bogotá"
  content=panel_1_1_content
  nested_button_id="panel-1-1-source"
%}

{% capture panel_1_1_source_content %}
<div class="row">
  <div class="col-md-4"><img src="/assets/img/1.1.2.jpg" /></div>
  <div class="col-md-8">
    <h5 class="fuente-doc">“Reparta los Indios entre los pobladores, para que cada uno se encargue de los que fueren de su repartimiento, y los defienda, y ampare, proveyendo Ministro, que les enseñe la Doctrina Cristiana, y administre los Sacramentos, guardando nuestro Patronazgo y enseñe a vivir en policía”</h5>
    <h6 class="fuente-bibliografia">Recopilación de Leyes de los Reinos de las Indias. Mandadas imprimir y publicar por la magestad católica del Rey don Carlos II. Libro VI, título VII. Julián de Paredes, 1681. Cortesía de la Biblioteca Nacional de España, Madrid. <a href="https://www.paisajescoloniales.com/paisajes/obj5.html">Ver documento completo</a></h6>
  </div>
</div>
{% endcapture %}

{% include story/panel-secondary.html
  id="panel-1-1-source"
  title="Sobre el repartimiento de encomiendas"
  content=panel_1_1_source_content
%}
