<!-- _includes/story/step.html -->
<section
  class="step bg-crema"
  id="{{ include.id }}"
  data-step="{{ include.data_step }}"
  data-x="{{ include.x }}"
  data-y="{{ include.y }}"
  data-zoom="{{ include.zoom }}"
>
  <h5 class="pregunta">{{ include.title }}</h5>
  <p>{{ include.text }}</p>

  {% if include.offcanvas_id %}
  <button
    type="button"
    class="btn btn-info mas"
    data-bs-toggle="offcanvas"
    data-bs-target="#{{ include.offcanvas_id }}"
    aria-controls="{{ include.offcanvas_id }}"
    data-bs-backdrop="false"
  >
  <img class="s" src="/assets/img/sabermas.png" />Saber más</button>
  </button>
  {% endif %}
</section>
